In [1]:
# indexed
# ordered 
# multiple and duplicate data
# mutable

In [2]:
#a={<key>:<value>,<key>:<value>}

#indexed
a={'a':'apple','b':'ball'}
print(a)
print(type(a))

{'a': 'apple', 'b': 'ball'}
<class 'dict'>

In [3]:
print(a['a'])

apple

In [4]:
#ordered jasto order ma cha tei order ma print huncha
#no concat + or *

In [5]:
a={'a':'apple','b':'ball'}
print(len(a))

2

In [6]:
#mutable
a={'a':'apple','b':'ball'}
a['c']='dog'
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'dog'}

In [7]:
a={}
a['a']='apple'
a['b']='ball'
a['c']='cat'
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [9]:
data={}
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    phone=int(input('enter phone = '))
    data[name]=phone
print(data)

enter n = 2
enter name = ram
enter phone = 234253
enter name = hari
enter phone = 24234
{'ram': 234253, 'hari': 24234}

In [12]:
a={'ram': 234253, 'hari': 24234}
a['ram']=2355657
print(a)

{'ram': 2355657, 'hari': 24234}

In [13]:
a={'ram': 234253, 'hari': 24234}
for i in a:
    print(i)

ram
hari

In [16]:
a={'ram': 234253, 'hari': 24234}
for i in a.values():
        print(i)

234253
24234

In [17]:
a={'ram': 234253, 'hari': 24234}
for i in a.items():
        print(i)

('ram', 234253)
('hari', 24234)

In [18]:
a={'a': 'apple', 'b': 'ball', 'c': 'cat'}
del a['a']
print(a)

{'b': 'ball', 'c': 'cat'}

In [20]:
a={'a': 'apple', 'b': 'ball', 'c': 'cat'}
a.pop('a')
print(a)

{'b': 'ball', 'c': 'cat'}

In [21]:
a={'a': 'apple', 'b': 'ball', 'c': 'cat'}
b=a.pop('a')
print(a)
print(b)

{'b': 'ball', 'c': 'cat'}
apple

In [23]:
#list inside dictionary

info={}
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    ntc_phone=input('enter ntc no = ')
    ncell_phone=input('enter ncell no = ')
    info[name]=[ntc_phone,ncell_phone]
print(info)

enter n = 2
enter name = ram
enter ntc no = 2134354
enter ncell no = 2342154
enter name = shyam
enter ntc no = 24343
enter ncell no = 6758664
{'ram': ['2134354', '2342154'], 'shyam': ['24343', '6758664']}

In [28]:
a={'a': ['apple','ant'], 'b': ['ball','boat'], 'c': ['cat','cow']}
print(a['a'])
print(a['a'][0])
print(a['b'][1])

['apple', 'ant']
apple
boat

In [30]:
a={'a': ['apple','ant'], 'b': ['ball','boat'], 'c': ['cat','cow']}
a['a'].append('aeroplane')
print(a)

{'a': ['apple', 'ant', 'aeroplane'], 'b': ['ball', 'boat'], 'c': ['cat', 'cow']}

In [32]:
a={'a': ['apple','ant'], 'b': ['ball','boat'], 'c': ['cat','cow']}
a['d']=['dog','drum']
print(a)

{'a': ['apple', 'ant'], 'b': ['ball', 'boat'], 'c': ['cat', 'cow'], 'd': ['dog', 'drum']}

In [34]:
a={'name': ['ram','shyam'], 'NTC': [12344,5665787], 'Ncell': [345466,987665655]}
print(a)

{'name': ['ram', 'shyam'], 'NTC': [12344, 5665787], 'Ncell': [345466, 987665655]}

In [38]:
info={}
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    ntc_phone=input('enter ntc no = ')
    ncell_phone=input('enter ncell no = ')
    info['name'].append(name)
    info['NTC'].append(ntc_phone)
    info['Ncell'].append(ncell_phone)
print(info)

enter n = 1
enter name = ram
enter ntc no = 2435
enter ncell no = 76543

KeyError: 'name'

In [36]:
info={'name':[],'NTC':[],'Ncell':[]}
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    ntc_phone=input('enter ntc no = ')
    ncell_phone=input('enter ncell no = ')
    info['name'].append(name)
    info['NTC'].append(ntc_phone)
    info['Ncell'].append(ncell_phone)
print(info)

enter n = 2
enter name = ram
enter ntc no = 214345
enter ncell no = 3456
enter name = shyam
enter ntc no = 45
enter ncell no = 778965543
{'name': ['ram', 'shyam'], 'NTC': ['214345', '45'], 'Ncell': ['3456', '778965543']}

In [52]:
info=[{'name':'ram','age':43,'add':'ktm'},{'name':'shyam','age':93,'add':'ktm'},{'name':'sita','age':23,'add':'ktm'}]
print(info[0])
print(info[0]['name'])

{'name': 'ram', 'age': 43, 'add': 'ktm'}
ram

'sita'

In [49]:
info=[{'name':'ram','age':43,'add':'ktm'},{'name':'shyam','age':93,'add':'ktm'},{'name':'sita','age':23,'add':'ktm'}]
info[0]['name']='hari'
print(info)

[{'name': 'hari', 'age': 43, 'add': 'ktm'}, {'name': 'shyam', 'age': 93, 'add': 'ktm'}, {'name': 'sita', 'age': 23, 'add': 'ktm'}]

In [50]:
del info[0]
print(info)

[{'name': 'shyam', 'age': 93, 'add': 'ktm'}, {'name': 'sita', 'age': 23, 'add': 'ktm'}]

In [56]:
info=[]
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    age=int(input('enter age = '))
    add=input('enter address = ')
    data={'name':name,'age':age,'add':add}
    info.append(data)
print(info)

enter n = 2
enter name = ram
enter age = 23
enter address = ktm
enter name = shyam
enter age = 43
enter address = ktm
[{'name': 'ram', 'age': 23, 'add': 'ktm'}, {'name': 'shyam', 'age': 43, 'add': 'ktm'}]

In [57]:
#dictionary as a comprehension

In [59]:
a={'a': 'apple', 'b': 'ball', 'c': 'cat'}
letter=input('enter letter = ')
word=data[letter]
print(word)

enter letter = b

KeyError: 'b'

In [63]:
data={'coke':100,'pizza':200}
product=input('enter product name = ')
price=data[product]
quantity=int(input('enter quantity = '))
total=price*quantity
print(total)

enter product name = coke
enter quantity = 3
300

In [62]:
data={'coke':100,'pizza':200}
product=input('enter product name = ')
price=data[product]
print(price)

SyntaxError: invalid syntax (Temp/ipykernel_6252/3687770041.py, line 1)

In [1]:
a = {111234:{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
     223432:{'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
     334321:{'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
     434572:{'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}}
print(a)

{111234: {'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'}, 223432: {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'}, 334321: {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'}, 434572: {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}}

In [2]:
print(a[111234])

{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'}

In [3]:
a [453456] = {'Name':'Sabin','Age':56,'Add':'Kathmandu'}
a

{111234: {'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
 223432: {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
 334321: {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
 434572: {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'},
 453456: {'Name': 'Sabin', 'Age': 56, 'Add': 'Kathmandu'}}

In [13]:
a=={143:{'name': 'hari', 'age': 43, 'add': 'ktm'}, 
  245:{'name': 'shyam', 'age': 93, 'add': 'ktm'}, 
  376:{'name': 'sita', 'age': 23, 'add': 'ktm'}} 
a[675]={'name': 'yaman', 'age': 19, 'add': 'ktm'}
print(a)

{1: {'name': 'hari', 'age': 43, 'add': 'ktm'}, 2: {'name': 'shyam', 'age': 93, 'add': 'ktm'}, 3: {'name': 'sita', 'age': 23, 'add': 'ktm'}, 675: {'name': 'yaman', 'age': 19, 'add': 'ktm'}}

In [14]:
#for loop haru lagayera garne

In [ ]:
# WAP to create dictionary inside dictionary
#CRUD operations practice