In [1]:
#open(<file_name>,modes)
# modes
# x--create
# r--read
# w--write
# a--append

In [6]:
try:
    b=open('data.txt','x')
    b.close()
except:
    print(" this file already exists")

 this file already exists

In [3]:
pwd

'C:\\Users\\Arjun\\Untitled Folder'

In [12]:
b=open('data.txt','r')
print(b.read())
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [14]:
with open('data.txt','r') as b:
    print(b.read())
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [15]:
with open('data.txt','r') as b:
    print(b.read())

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [16]:
b=open('data.txt','r')
x=b.read()
print(type(x))
print(x)
b.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [28]:
b=open('data.txt','r')
x=b.read().split('\n')
print(x)
b.close()

['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello World', '5.Hello World', '6.Hello World', '7.Hello World', '8.Hello World']

In [29]:
print(x[1])

2.Hello World

In [30]:
line_no=int(input('enter line no = '))
print(x[line_no-1])

enter line no = 4
4.Hello World

In [31]:
b=open('data.txt','r')
x=b.read()
print(x.split('\n'))
b.close()

['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello World', '5.Hello World', '6.Hello World', '7.Hello World', '8.Hello World']

In [20]:
a='apple ball cat dog'
a.split()

['apple', 'ball', 'cat', 'dog']

In [23]:
a='apple.ball.cat.dog'
a.split('.')

['apple', 'ball', 'cat', 'dog']

In [24]:
a='apple=ball=cat=dog'
a.split('=')

['apple', 'ball', 'cat', 'dog']

In [32]:
b=open('data.txt','r')
print(b.read(20))
b.close()

1.Hello World
2.Hell

In [ ]:
#write--over write
#append---add

In [33]:
b=open('datas.txt','w')
b.write('hello world i am python')
b.close()

In [37]:
s=str()
n=int(input("enter n "))
for i in range(n):
    name=input("enter name ")
    age=int(input("enter age "))
    info=f"name = {name}   age = {age}\n"
    s=s+info
print(s)

b=open('datas.txt','w')
b.write(s)
b.close()

enter n 2
enter name ram
enter age 12
enter name hari
enter age 23
name = ram   age = 12
name = hari   age = 23

In [38]:
pwd

'C:\\Users\\Arjun\\Untitled Folder'

In [39]:
#csv---comma separated values

In [40]:
s=str()
n=int(input("enter n "))
for i in range(n):
    name=input("enter name ")
    age=int(input("enter age "))
    info=f"{name},{age}\n"
    s=s+info
print(s)

b=open('datas.csv','w')
b.write(s)
b.close()

enter n 2
enter name ram
enter age 23
enter name hari
enter age 32
ram,23
hari,32

In [42]:
s=str()
n=int(input("enter n "))
for i in range(n):
    name=input("enter name ")
    age=int(input("enter age "))
    info=f"{name},{age}\n"
    s=s+info
print(s)

b=open('datas.csv','w')
b.write('name,age\n')
b.write(s)
b.close()

enter n 2
enter name ram
enter age 23
enter name hari
enter age 45
ram,23
hari,45

In [43]:
#pandas

In [46]:

import pandas as pd
df=pd.read_csv('datas.csv')
df

   name  age
0   ram   23
1  hari   45

In [ ]:
#billing