In [1]:
#pyhton collection 
#list
#tuple
#dictionary
#set

In [2]:
#list 
# indexed
# ordered
# multiple and duplicate data
# mutable

In [10]:
#indexed
a=['apple','ball','cat','dog']
l=len(a)
print(l)
print(a)
print(type(a))
print(a[0])
print(a[0:4])
print(a[0:4:2])
print(a[0:])
print(a[0:3])
print(a[0:10])

4
['apple', 'ball', 'cat', 'dog']
<class 'list'>
apple
['apple', 'ball', 'cat', 'dog']
['apple', 'cat']
['apple', 'ball', 'cat', 'dog']
['apple', 'ball', 'cat']
['apple', 'ball', 'cat', 'dog']

In [11]:
#ordered
a=['apple','ball','cat','dog','fish']
b=[1,2,3,4,5,]
c=b+a
print(c)

[1, 2, 3, 4, 5, 'apple', 'ball', 'cat', 'dog', 'fish']

In [13]:
# multiple and duplicated data
a=[1,2,3,4,5,'apple','ball','cat','dog','fish',1,2]
l=len(a)
print(l)

12

In [14]:
print(a[1])

2

In [15]:
#mutable
a=['apple','ball','cat','dog','fish']
a[0]='ant'
print(a)

['ant', 'ball', 'cat', 'dog', 'fish']

In [17]:
l=list()
n=int(input('enter n = '))
for i in range(n):
    x=int(input('enter x = '))
    l.append(x)
print(l)

enter n = 2
enter x = 45
enter x = 67
[45, 67]

In [20]:
a=[45,67,23,78,43,23]
print(max(a))
print(min(a))
print(sum(a))
a.sort()#ascending order
print(a)

78
23
279
[23, 23, 43, 45, 67, 78]

In [21]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
a.sort()#ascending order(first capital letters then samall)
print(a)

['Xray', 'Zebra', 'apple', 'ball', 'cat', 'dog', 'fish']

In [22]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
for i in a:
    print(i)

apple
ball
cat
dog
fish
Xray
Zebra

In [23]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
if 'apple' in a:
    print("yes")
    print(a.count('apple'))

yes
1

In [24]:
# basic functions of list--- last ma data halna milcha
# append()  insert()  extend()

In [26]:
a=[]
a.append('apple')#mutable
print(a)

['apple']

In [29]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
a.insert(1,'egg')#mutable(updating a)
print(a)

['apple', 'egg', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra']

In [30]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
b=[1,2,3,4,5,6,7]
a.extend(b)#mutable
print(a)

['apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra', 1, 2, 3, 4, 5, 6, 7]

In [31]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
a.append('ant')#mutable
print(a)

['apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra', 'ant']

In [33]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
b=[1,2,3,4,5,6,7]
print(a*2)
print(b*2)

['apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra', 'apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra']
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [34]:
# to remove the value  remove() del pop()
a=['apple','ball','cat','dog','fish','Xray','Zebra']
a.remove('apple')#one value at a time---logical error ni aauna sakcha
print(a)

['ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra']

In [35]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
del a[0]
print(a)

['ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra']

In [36]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
del a[0:3]# 3 is not included
print(a)

['dog', 'fish', 'Xray', 'Zebra']

In [37]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
del a[0::2]
print(a)

['ball', 'dog', 'Xray']

In [39]:
a=['apple','ball','cat','dog','fish','Xray','Zebra']
b=a.index('apple')
print(b)

0

In [40]:
a=['apple','apple','ball','cat','dog','fish','apple','Xray','Zebra']
a.remove('apple')#delects only one apple
print(a)

['apple', 'ball', 'cat', 'dog', 'fish', 'apple', 'Xray', 'Zebra']

In [43]:
#logical error as not all apple is deleted
a=['apple','apple','ball','cat','dog','fish','apple','Xray','Zebra']
for i in a:
    if i=='apple':
        a.remove('apple')
print(a)

['ball', 'cat', 'dog', 'fish', 'apple', 'Xray', 'Zebra']

In [44]:
#logical error
a=['apple','apple','ball','cat','dog','fish','apple','Xray','Zebra']
l=a.count('apple')
for i in range(l):
    if a[i]=='apple':
        a.remove(a[i])
print(a)

['apple', 'ball', 'cat', 'dog', 'fish', 'apple', 'Xray', 'Zebra']

In [46]:
# filtering the list instead of removing multiple elements from the same list
b=[]
a=['apple','apple','ball','cat','dog','fish','apple','Xray','Zebra']
for i in a:
    if i!='apple':
        b.append(i)
print(b)

['ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra']

In [10]:
# WAP to detect index of same value

# wrong way
b=[]
a=['apple','apple','ball','cat','dog','fish','apple','Xray','Zebra']
for i in a:
    if i=='apple':
        b.append(i)
        
print(b)
c=b.index('apple')
print(c)

['apple', 'apple', 'apple']
0

In [4]:
#correct way
a=['apple','apple','ball','cat','dog','fish','Xray','Zebra','apple']
l=len(a)
for i in range(l):
    if a[i]=='apple':
        print(a[i],i)
print("total number of apples = ",a.count('apple'))

apple 0
apple 1
apple 8
total number of apples =  3

In [6]:
#list inside list----listed list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(len(a))

3

In [7]:
print(a[2])

[7, 8, 9]

In [9]:
a=[['ram',2,'ktm'],
   ['hari',32,'patan'],
  ['shyam',21,'bhaktapur']]
print(a)

[['ram', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]

In [10]:
a[0][2]

'ktm'

In [11]:
a[2]

['shyam', 21, 'bhaktapur']

In [15]:
name=input('enter name = ')
for i in a:
    if name in i:
        print(i)

enter name = ram
['ram', 2, 'ktm']

In [17]:
l=list()
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    age=int(input('enter age = '))
    add=input('enter address = ')
    data=[name,age,add]
    l.append(data)
print(l)

enter n = 2
enter name = ram
enter age = 22
enter address = ktm
enter name = shyam
enter age = 32
enter address = patan
[['ram', 22, 'ktm'], ['shyam', 32, 'patan']]

In [18]:
info=[]
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    age=int(input('enter age = '))
    add=input('enter address = ')
    data=[name,age,add]
    info.append(data)
print(info)

enter n = 2
enter name = ram
enter age = 23
enter address = ktm
enter name = hari
enter age = 32
enter address = patan
[['ram', 23, 'ktm'], ['hari', 32, 'patan']]

In [19]:
a=[['ram', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]
del a[0]
print(a)

[['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]

In [22]:
a=[['ram', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]
a[0][0]='Sita'
print(a)

[['Sita', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]

In [23]:
a=[['ram', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]
a.append(['sita',25,'ktm'])
print(a)

[['ram', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur'], ['sita', 25, 'ktm']]

In [24]:
a=[['ram', 2, 'ktm'], ['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]
name=input('enter name = ')
for i in a:
    if name in i:
        a.remove(i)
print(a)

enter name = ram
[['hari', 32, 'patan'], ['shyam', 21, 'bhaktapur']]

In [9]:
# WAP to create a matrix by taking input from the user row and column 

#only for same nuber of rows and column
info=[]
n=int(input('enter n = '))
print('enter values for the matirix\n')
for i in range(n):
    a=[]
    for j in range(n):
        a.append(int(input()))
    info.append(a)
for i in range(n):
    for j in range(n):
        print(info[i][j],end=' ')
    print()

enter n = 2
enter values for the matirix

1
2
3
4
1 2
3 4

In [2]:
# list comprihension and filters and lamda function----later bonus topic

In [1]:

r = int(input("Enter the number of rows:"))
c = int(input("Enter the number of columns:"))
matrix = []
print("Enter the values for matrix row wise\n")
for i in range(r):          
    a =[]
    for j in range(c):      
         a.append(int(input()))
    matrix.append(a)
for i in range(r):
    for j in range(c):
        print(matrix[i][j], end = " ")
    print()

Enter the number of rows:2
Enter the number of columns:2
Enter the values for matrix row wise

1
2
3
4
1 2
3 4

#####

In [5]:
#WAP to create a matrix by taking user input 
row = int(input("Enter the num of rows: "))
col = int(input("Enter the number of col: "))
matrix = []
for i in range(row):
    value = []
    print("enter value for new row ")
    for j in range(col):
        user_value = int(input())
        value.append(user_value)
    matrix.append(value)
print("\nPrinting Matrix:\n")
for i in range(row):
    for j in range(col):
        print(matrix[i][j], end = " ")
    print()

Enter the num of rows: 2
Enter the number of col: 3
enter value for new row
123
3
4
enter value for new row
5
6
7

Printing Matrix:

123 3 4
5 6 7