In [2]:
a="hello"
print(a)
print(type(a))

hello
<class 'str'>

In [3]:
# string comcatination
a="hello "
b='world'
print(a+b)

hello world

In [4]:
#string enlargement
a='hello\n'
print(a*2)

hello
hello

In [5]:
#string slicing
a='hello world'
print(a[0])

h

In [8]:
a='hello world'
print(a[0:8])

hello wo

In [9]:
a='hello world'
print(a[0:10:2])#increment by 2

hlowr

In [10]:
a='hello world'
b=a[0:5]
c=a[5:]#every thing after 5th position
print(b)
print(c)

hello
 world

In [16]:
a='hello world'
l=len(a)
print(a[l::-1])

dlrow olleh

In [19]:
a='hello world'
print(a[100::-1])

dlrow olleh

In [18]:
a='hello world'
print(a[0])
print(a[-1])

h
d

In [30]:
#string formatting
name=input("enter name ")
age=int(input("enter age "))
add=input("enter address ")
infoo=f"I am {name}. I am from {add}. I am {age} years old." 
#info=f"{name}\n {age}\n {add}\n"
print(infoo)

enter name sd
enter age 23
enter address fg
I am sd. I am from fg. I am 23 years old.

In [45]:
s=str()
n=int(input("enter n "))
for i in range(n):
    name=input("enter name ")
    age=int(input("enter age "))
    info=f"{name} {age}\n"
    s=s+info
print(s)

enter n 2
enter name manh
enter age 34
enter name ad
enter age 54
manh 34
ad 54

In [38]:
a="Ram Shyam hari Gita Ram".lower()
name=input("enter name ").lower()
if name in a:
    print('yes')
    print(a.count(name))

enter name ShYaM
yes
1

In [37]:
a="Ram Shyam hari Gita Ram"
print(a.upper())
print(a.lower())

RAM SHYAM HARI GITA RAM
ram shyam hari gita ram

In [49]:
a="Ram Shyam hari gita Ram"
print(a.title())#first letter after space is uppercased

Ram Shyam Hari Gita Ram

In [43]:
#string is immutable data type-->is not updated in itself--->to update a in itself a=a.upper()
a="Ram Shyam hari Gita Ram"
a.upper()
print(a)

Ram Shyam hari Gita Ram

In [44]:
a="Ram Shyam hari Gita Ram"
a=a.upper()
print(a)

RAM SHYAM HARI GITA RAM

In [47]:
a="Ram Shyam hari Gita Ram"#to replace ram of particular position only array is used
a=a.replace('Ram','RAM')
print(a)

RAM Shyam hari Gita RAM

In [48]:
a="Ram Shyam hari Gita Ram"
a=a.replace('Ram','')
print(a)

 Shyam hari Gita

In [4]:
#WAP to develop a billing application using string and loop
#name
#price
#quantity
#total

#grand_total

grand_total=int()
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    price=int(input("enter price = "))
    quantity=int(input("enter quantity = "))
    total=quantity*price
    grand_total=grand_total+total
    t=f"total = {name} {total}\n"
    
    print(t)
print("Grand total = ",grand_total)

enter n = 2
enter name = pen
enter price = 12
enter quantity = 32
total = pen 384

enter name = pencil
enter price = 5
enter quantity = 23
total = pencil 115

Grand total =  499

grand_total=int()
s=str()
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    price=int(input("enter price = "))
    quantity=int(input("enter quantity = "))
    total=quantity*price
    grand_total=grand_total+total
    t=f"{name} {total}\n"
    s=s+t
print(t)
print("Grand total = ",grand_total)

In [5]:
grand_total=int()
s=str() 
n=int(input("enter n = ")) 
for i in range(n): 
    name=input("enter name = ") 
    price=int(input("enter price = ")) 
    quantity=int(input("enter quantity = ")) 
    total=quantity*price
    grand_total=grand_total+total
    t=f"{name} {total}\n"
    s=s+t 
    print(t)
print("Grand total = ",grand_total)

enter n = 2
enter name = dsf
enter price = 34
enter quantity = 234
dsf 7956

enter name = sd
enter price = 23
enter quantity = 43
sd 989

Grand total =  8945

In [1]:
price_book, price_pen, price_paper = 50,10,1
print("The available products are 'Book', 'Pen' and 'Paper'\n")
num_product = int(input("How many different product do you want to buy? :"))
quantity_buy_book = 0
quantity_buy_pen = 0
quantity_buy_paper = 0
i = 1
while i <= num_product:
    buy = input("Enter the name of the product you want to buy: ").lower()
    i += 1
    if buy == "book":
        quantity_buy_book = int(input("Enter the number of book you want to buy?: "))
    elif buy == "pen":
        quantity_buy_pen = int(input("Enter the number of pen you want to buy?: "))
    elif buy == "paper":
        quantity_buy_paper = int(input("Enter the number of paper you want to buy?: "))
    else:
        print("Invalid Characters")
print("......ABCD STATIONARY....\n........Bill......\n")

total_p_book = quantity_buy_book * price_book
total_p_pen = quantity_buy_pen * price_pen
total_p_paper = quantity_buy_paper * price_paper


print(f"The total price for {quantity_buy_book} book is: {quantity_buy_book} * {price_book} = {total_p_book} ")
print(f"The total price for {quantity_buy_pen} pen is: {quantity_buy_pen} * {price_pen} = {total_p_pen} ")
print(f"The total price for {quantity_buy_paper} paper is: {quantity_buy_paper} * {price_paper} = {total_p_paper} ")

grand_total = total_p_book + total_p_pen + total_p_paper
print("\nThe grand Total is:",grand_total)

The available products are 'Book', 'Pen' and 'Paper'

How many different product do you want to buy? :2
Enter the name of the product you want to buy: book
Enter the number of book you want to buy?: 2
Enter the name of the product you want to buy: Pen
Enter the number of pen you want to buy?: 4
......ABCD STATIONARY....
........Bill......

The total price for 2 book is: 2 * 50 = 100
The total price for 4 pen is: 4 * 10 = 40
The total price for 0 paper is: 0 * 1 = 0

The grand Total is: 140