In [2]:
a="hello"
print(a)
print(type(a))

hello
<class 'str'>

In [3]:
# string comcatination
a="hello "
b='world'
print(a+b)

hello world

In [4]:
#string enlargement
a='hello\n'
print(a*2)

hello
hello

In [5]:
#string slicing
a='hello world'
print(a[0])

h

In [8]:
a='hello world'
print(a[0:8])

hello wo

In [9]:
a='hello world'
print(a[0:10:2])#increment by 2

hlowr

In [10]:
a='hello world'
b=a[0:5]
c=a[5:]#every thing after 5th position
print(b)
print(c)

hello
 world

In [16]:
a='hello world'
l=len(a)
print(a[l::-1])

dlrow olleh

In [19]:
a='hello world'
print(a[100::-1])

dlrow olleh

In [18]:
a='hello world'
print(a[0])
print(a[-1])

h
d

In [30]:
#string formatting
name=input("enter name ")
age=int(input("enter age "))
add=input("enter address ")
infoo=f"I am {name}. I am from {add}. I am {age} years old." 
#info=f"{name}\n {age}\n {add}\n"
print(infoo)

enter name sd
enter age 23
enter address fg
I am sd. I am from fg. I am 23 years old.

In [45]:
s=str()
n=int(input("enter n "))
for i in range(n):
    name=input("enter name ")
    age=int(input("enter age "))
    info=f"{name} {age}\n"
    s=s+info
print(s)

enter n 2
enter name manh
enter age 34
enter name ad
enter age 54
manh 34
ad 54

In [38]:
a="Ram Shyam hari Gita Ram".lower()
name=input("enter name ").lower()
if name in a:
    print('yes')
    print(a.count(name))

enter name ShYaM
yes
1

In [37]:
a="Ram Shyam hari Gita Ram"
print(a.upper())
print(a.lower())

RAM SHYAM HARI GITA RAM
ram shyam hari gita ram

In [49]:
a="Ram Shyam hari gita Ram"
print(a.title())#first letter after space is uppercased

Ram Shyam Hari Gita Ram

In [43]:
#string is immutable data type-->is not updated in itself--->to update a in itself a=a.upper()
a="Ram Shyam hari Gita Ram"
a.upper()
print(a)

Ram Shyam hari Gita Ram

In [44]:
a="Ram Shyam hari Gita Ram"
a=a.upper()
print(a)

RAM SHYAM HARI GITA RAM

In [47]:
a="Ram Shyam hari Gita Ram"#to replace ram of particular position only array is used
a=a.replace('Ram','RAM')
print(a)

RAM Shyam hari Gita RAM

In [48]:
a="Ram Shyam hari Gita Ram"
a=a.replace('Ram','')
print(a)

 Shyam hari Gita

In [ ]:
#WAP to develop a billing application using string and loop
#name
#price
#quantity
#total

#grand_total