In [1]:
#tuple
# indexed
# ordered
# multiple and duplicate data
# Imutable

In [6]:
a=tuple()
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
a=(1)
b=('apple')
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [4]:
a=(1,)
b=('apple',)# euta matra element huda , is compulsory 
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [7]:
#indexed
a=('apple','ball','cat','dog','fish','Xray','Zebra')
print(a[0])
print(a[0:4])
print(a[0::2])

apple
('apple', 'ball', 'cat', 'dog')
('apple', 'cat', 'fish', 'Zebra')

In [8]:
#orderd
a=('apple','ball','cat','dog','fish','Xray','Zebra')
b=('egg',)
print(a+b)#concat

('apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra', 'egg')

In [9]:
a=('apple','ball','cat','dog','fish','Xray','Zebra')
print(a*2)#enlarge

('apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra', 'apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra')

In [10]:
#immutable ----can't be updated
# no append()  insert()  extend()
# no del remove()  pop()

In [11]:
# wrong way
t=tuple()
n=int(input('enter n = '))
for i in range(n):
    x=input('enter x = ')
    t=t+x # t=t+tuple()
print(t)

enter n = 2
enter x = df

TypeError: can only concatenate tuple (not "str") to tuple

In [12]:
# correct way
t=tuple()
n=int(input('enter n = '))
for i in range(n):
    x=input('enter x = ')
    t=t+(x,)
print(t)

enter n = 2
enter x = apple
enter x = ball
('apple', 'ball')

In [13]:
def cal():
    a=10
    b=12
    return a,b
cal()
# tuple value is printed as it cant be edited

(10, 12)

In [14]:
a=10,11,12,13
print(a)
# tuple data is printed and not list as it cant be edited

(10, 11, 12, 13)

In [18]:
a=('apple','ball','cat','dog','fish','Xray','Zebra')
b=list(a)
print(b)
del b[0]
a=tuple(b)
print(a)

['apple', 'ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra']
('ball', 'cat', 'dog', 'fish', 'Xray', 'Zebra')

In [22]:
# tuple inside tuple
a=(('ram',2,'ktm'),
   ('hari',32,'patan'),
  ('shyam',21,'bhaktapur'))
print(a)

(('ram', 2, 'ktm'), ('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur'))

In [23]:
# wrong way
a=(('ram',2,'ktm'),
   ('hari',32,'patan'),
  ('shyam',21,'bhaktapur'))
b=('nabon',45,'lalitpur')
print(a+b)

(('ram', 2, 'ktm'), ('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur'), 'nabon', 45, 'lalitpur')

In [24]:
# correct way
a=(('ram',2,'ktm'),
   ('hari',32,'patan'),
  ('shyam',21,'bhaktapur'))
b=(('nabon',45,'lalitpur'),)
print(a+b)

(('ram', 2, 'ktm'), ('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur'), ('nabon', 45, 'lalitpur'))

In [1]:
# WAP to input tuple inside tuple
t=tuple()
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    age=int(input('enter age = '))
    add=input('enter address = ')
    data=(name,age,add)
    b=list(t)
    b.append(data)
    t=tuple(b)
print(t)

enter n = 2
enter name = ram
enter age = 32
enter address = ktm
enter name = shyam
enter age = 23
enter address = patan
(('ram', 32, 'ktm'), ('shyam', 23, 'patan'))

In [33]:
a=(('ram',2,'ktm'),
   ('hari',32,'patan'),
  ('shyam',21,'bhaktapur'))
b=list(a)
print(b)
del b[0]
print(b)
# elements inside tuples can't be updated

[('ram', 2, 'ktm'), ('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur')]
[('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur')]

In [34]:
b.append(('nabin',56,'palpa'))
print(b)

[('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur'), ('nabin', 56, 'palpa')]

In [2]:

#WAP to perform CRUD list inside tuple ([],[],[])
t=tuple()
n=int(input('enter n = '))
for i in range(n):
    name=input('enter name = ')
    age=int(input('enter age = '))
    add=input('enter address = ')
    data=[name,age,add]
    b=list(t)
    b.append(data)
    t=tuple(b)
print(t)

enter n = 2
enter name = ram
enter age = 23
enter address = ktm
enter name = sita
enter age = 45
enter address = patan
(['ram', 23, 'ktm'], ['sita', 45, 'patan'])

In [3]:
#WAP to convert tuple inside tuple to list inside list and vice versa ((),(),())-------[[],[],[]]
a=(('ram', 2, 'ktm'), ('hari', 32, 'patan'), ('shyam', 21, 'bhaktapur'), ('nabon', 45, 'lalitpur'))

In [11]:
a= [[4, 1, 9], [2, 6, 8], [5, 9, 1]]
print(a)
t= tuple(tuple(data) for data in a)
print(t)

[[4, 1, 9], [2, 6, 8], [5, 9, 1]]
((4, 1, 9), (2, 6, 8), (5, 9, 1))

In [12]:
a = [[4, 1, 9], [2, 6, 8], [5, 9, 1]]
print(a)
t = tuple(map(tuple,a))
print(t)

[[4, 1, 9], [2, 6, 8], [5, 9, 1]]
((4, 1, 9), (2, 6, 8), (5, 9, 1))